* {
  padding: 0;
  margin: 0;
}
/*Abarca el cuerpo de el programa*/
body {  
  margin: 0%;
  padding: 0%;
  background-color: #ffe1c8;
}
/*Borde del primer DIV de la información del instrumento*/
.borde {
  border: 15px double #4e99ee;
  text-align: center;
}
/*ABARCA EL CONTENIDO DEL TITULO PRINCIPAL*/
.Titulo {
  text-align: center;
  background-color: rgb(179, 115, 243);
  color: rgb(255, 255, 255);
  padding: 15px;
  cursor: pointer;
}

.borde2 {
  border: white 5px inset #7e91dc;
  text-align: center;
}
/*Contenido del texto de la información principal*/
.Inf {
  background-color: rgb(85, 203, 250);
}

.Inf1 {
  background-color: rgb(255, 255, 255);
  width: auto;

  text-align: center;
  padding: 5px;
}

.Inf2 {
  background-color: rgb(255, 255, 255);
  width: auto;
   text-align: center;
  padding: 5px;
}

.Inf3 {
  background-color: rgb(255, 255, 255);
  width: auto;

  text-align: center;
  padding: 5px;
}
/*Contenido del orden de la lista de los apartados del instrumento*/
nav li {
  display: 15px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 150px;
}

.borde3 {
  border: rgb(4, 25, 44) 10px inset;
  text-align: center;
  margin: auto;
  width: auto;
}
/*DA ESTILO A CADA APARTADO DEL MENU QUE CONTIENE LA INFORMACIÓN*/
.menu {
  background-color: #f2ffb9;
  border: 20px;
  border-radius: 5px;
  width: auto;
  list-style-type: none;
  text-align: none;
}
/*Da estilo al menu secundario acomodandolo y un fondo de color*/
.menu-secundario {
  background-color: rgb(153, 178, 212);
  width: auto;
  list-style-type: none;
  text-align: center;
}
/*Da la caracteristica de el tamaño que contiene cada segmento*/
.menu-secundario a {
  display: block;
  text-align: center;
  color: black;
  margin-bottom: 5px;
  display: inline-flex;
  text-decoration: none;
  padding: 1px;
  width: 150px;
}

.AcusticaG {
  width: auto;
  text-align: center;
  padding: 10px;
}

.borde4 {
  border: 25px double;
  margin: 15px;

}

.img1 {
  padding: 50px;
  width: 1400px;
  background-size: contain;
}

.ClasicaG {
  width: auto;
  
  text-align: left;
  padding: 10px;
}

.borde5 {
  border: 15px double;
  margin: 15px;

}

.ElectricaG {
  width: auto;

  text-align: left;
  padding: 10px;
}

.borde6 {
  border: 15px double;
  margin: 15px;

}

.SemiacusticaG {
  width: auto;

  text-align: left;
  padding: 10px;
}

.borde7 {
  border: 15px double;
  margin: 15px;

}

.ElectroAcusticaG {
  width: auto;
  list-style-type: none;
  text-align: left;
  padding: 10px;
}

.borde8 {
  border: 15px double;
  margin: 15px;
}

.Subtitulo {
  text-align: center;
  background-color: rgb(115, 213, 224);
  color: rgb(86, 81, 180);
  padding: 15px;
  cursor: pointer;
  border: 25px double;
}

.INF {

  padding: 15px;
  background-color: rgb(184, 223, 235);
  color: white;
  border: 5px solid black;
  border-radius: 30px;
  width: auto;
  list-style-type: none;
  text-align: none;
}

.Vol {
  width: auto;
  list-style-type: none;
  text-align: none;
  padding: 15px;
  background-color: rgb(255, 178, 105);
  color: white;
  border: 5px solid black;
  border-radius: 30px;
}